<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script> 
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/uwemfilms/uwemmedia-consultation', text: 'Schedule time with me', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->


"You're almost booked 🎥"

<select name="time_slot" class="form-select">
    <option>Morning (9am–12pm)</option>
    <option>Evening (4pm–9pm)</option>
</select>

<select name="contact_method" class="form-select">
    <option>Phone Call</option>
    <option>Zoom</option>
    <option>Text</option>
</select>